.app__footer{
    flex: 1;
    flex-direction: column;
    width: 100%;
}

,app__footer-cards{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: 4rem 2rem 2rem;
}